<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531067775212-t8qkhf1spngbve3k9aesomi1hrqvui24.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531067775212-t8qkhf1spngbve3k9aesomi1hrqvui24</string>
	<key>API_KEY</key>
	<string>AIzaSyCX74cuIxoRMwa-6hDZeQwG4jLZ3B0URmA</string>
	<key>GCM_SENDER_ID</key>
	<string>531067775212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.abrahanfer.tut-firebase-showcase.pre</string>
	<key>PROJECT_ID</key>
	<string>tut-firebase-showcase</string>
	<key>STORAGE_BUCKET</key>
	<string>tut-firebase-showcase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531067775212:ios:a8946dbade275df1029dc9</string>
</dict>
</plist>