//
//  Production.xcconfig
//  CursoiOSProyecto3_Base
//
//  Created by Abrahán Fernández on 1/2/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-CursoiOSProyecto4/Pods-CursoiOSProyecto4.debug (production).xcconfig"
#include "Pods/Target Support Files/Pods-CursoiOSProyecto4/Pods-CursoiOSProyecto4.release (production).xcconfig"


APP_ENVIRONMENT=Production

// App Settings
APP_NAME = CursoiOSProyecto4
APP_BUNDLE_ID = com.atsistemas.CursoiOSProyecto4.pro
