//
//  Development.xcconfig
//  CursoiOSProyecto3_Base
//
//  Created by Abrahán Fernández on 1/2/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Pods/Target Support Files/Pods-CursoiOSProyecto4/Pods-CursoiOSProyecto4.debug (development).xcconfig"
#include "Pods/Target Support Files/Pods-CursoiOSProyecto4/Pods-CursoiOSProyecto4.release (development).xcconfig"


APP_ENVIRONMENT=Development

// App Settings
APP_NAME = CursoiOSProyecto4 (Dev)
APP_BUNDLE_ID = com.atsistemas.CursoiOSProyecto4.dev
